html
{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
}
a
{
    text-decoration: none;
}
li
{
    list-style-type: none;
}

.container
{
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 100%;
}
header
{
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
}
.returnbtn
{
    position: absolute;
    left: 30px;
    top: 28px;
    font-size: 22px;
}
.returnbtn:visited
{
    color: black;
}
.logo
{
    margin: 0;
    font-size: 30px;
    font-family: shrikhand, sans-serif;
    font-weight: normal;
}
.imgmain
{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
section
{
    background-color: rgb(246, 246, 246) ;
    padding: 0px 20px;
    margin-top: -40px;
    position: relative;
    border-radius: 40px 40px 0 0;
}
.flextitle
{
    display: flex;
    justify-content: space-between;
}
.titlemain
{
    font-family: shrikhand, sans-serif;
    font-weight: normal;
    font-size: 30px;
}
.heart
{
    align-self: center;
    font-size: 25px;
}
h3
{
    font-weight: normal;
}
.titlepos
{
    position: relative;
}
.bordertitle
{
    content: "";
    background-color: rgb(153, 226, 208);
    width: 50px;
    height: 4px;
    position: absolute;
    top: 30px;
}
.gridmenu
{
    display: grid;
}
.card
{
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
h4
{
    margin: 0;
}
.price
{
    align-self: flex-end;
}
.margincard
{
    margin: 0;
}
footer
{
    padding: 20px;
    background-color: rgb(53, 53, 53);
}
.footerpolice
{
    font-family: shrikhand,sans-serif;
    margin: 0;
    margin-bottom: 12px;
    color: white;
    font-weight: normal;
}
.flexfoot1
{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
.flexfoot2
{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}
.flexfoot3
{
    color: white;
}
h5
{
    font-weight: normal;
    margin: 5px;
    font-size: 16px;
}
