html
{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
}
a
{
    text-decoration: none;
}
li
{
    list-style-type: none;
}

.container
{
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 100%;
}
header
{
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
}
.returnbtn
{
    position: absolute;
    left: 30px;
    top: 28px;
    font-size: 22px;
}
.returnbtn:visited
{
    color: black;
}
.logo
{
    margin: 0;
    font-size: 30px;
    font-family: shrikhand, sans-serif;
    font-weight: normal;
}
.imgmain
{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
section
{
    background-color: rgb(246, 246, 246) ;
    padding: 0px 20px;
    margin-top: -40px;
    position: relative;
    border-radius: 40px 40px 0 0;
}
.flextitle
{
    display: flex;
    justify-content: space-between;
}
.titlemain
{
    font-family: shrikhand, sans-serif;
    font-weight: normal;
    font-size: 30px;
}
.heart
{
    align-self: center;
    font-size: 25px;
}
h3
{
    font-weight: normal;
}
.titlepos
{
    position: relative;
}
.bordertitle
{  
    background-color: rgb(153, 226, 208);
    width: 50px;
    height: 4px;
    position: absolute;
    top: 30px;
}
.card
{
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px rgb(207, 207, 207);
    margin-bottom: 20px;
}
.textmenu
{
    max-width: 80%;
}
h4
{
    margin: 0;
}
.price
{
    align-self: flex-end;
}
.margintitle
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.margincard
{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.logovalid
{
    display: none;
}
.btn
{
    font-size: 16px;
    font-weight: 600;
    padding: 15px 40px;
    margin-bottom: 30px;
    color: white;
    background-color: rgb(198, 103, 219);
    border: 1px solid rgb(198, 103, 219) ;
    border-radius: 50px;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    box-shadow: 0px 5px 10px rgb(190, 190, 190);
    transition-duration: .40s;
}
.btn:hover
{
    background-color: white;
    box-shadow: 0px 10px 10px rgb(150, 150, 150);
    cursor: pointer;
}
.btn:visited
{
    color: white;
}
footer
{
    padding: 20px;
    background-color: rgb(53, 53, 53);
}
.footerpolice
{
    font-family: shrikhand,sans-serif;
    margin: 0;
    margin-bottom: 12px;
    color: white;
    font-weight: normal;
}
.flexfoot1
{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
.flexfoot2
{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}
.flexfoot3
{
    color: white;
}
h5
{
    font-weight: normal;
    margin: 5px;
    font-size: 16px;
}
@media (min-width: 768px)
{
    .gridmenu
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 20px;
    }
    .widthmenu
    {
        min-width: 100%;
    }
}
